:root{
  --img-border-size:15px;
}

.main-title-div{
  padding: 1px 1px 1px 1px;
  position: relative;
  
  background: rgb(20, 20, 20);
  width: 100%;
  height: fit-content;
  text-decoration-color: #fff;
  margin-top: 0%;
}
.main-title{
 
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 50px;
  margin: 1px;
  color: rgb(255, 255, 255);
  opacity: 1;
  
  
}

@keyframes fadeIndown{
  to{
      opacity: 1;
      transform: rotateY(0);
  }
}
.topfive-div{
  max-width: 100%;
  
}
.gallery{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
  margin-top: 1%;
  margin-bottom: 5%;
}
.newgallery{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.gallery .pics{
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
 
  margin-bottom: 20px;
}
.img-new{
  width:100%;
  display: block;
  padding:var(--img-border-size) var(--img-border-size) var(--img-border-size) var(--img-border-size); 
  border: 6mm ridge  rgba(65, 53, 53, 0.952) ;
  
}
.outerBox{
  position:relative;
  background: rgb(255, 255, 255);
  /* margin:1px 1px 1px 1px; */
}
.inner-box{
  position:absolute; 
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.795); 
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.9s;
  
}
.inner-box:hover{
  opacity: 1; 
}
.inner-box >* {
  transform: translateY(35px );
  transition: transform 0.9s;
}
.inner-box:hover >* {
  
  transform: translateY(0px );
  transition: transform 0.9s;
}


.cu_title{
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  background-origin: padding-box;
  max-width: 100%;
 
}
.cards__item__text {
 
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  margin-top: 5px;
  
}
.cu-idiv{
  width:50px;
  
  padding: 4px;
  margin-top: 20px;
}
.cu-icon{
  font-size:20px;
  color:rgba(226, 35, 10, 0.904);
  position: relative;
  transition: all 0.3s ease; 
   
}
.cu-icon:hover{
  color:rgb(245, 8, 8);
  transition: all 0.3s ease;
  cursor: pointer; 
  animation: blink .5s steps(5) infinite;
}
.cu-icon-zoom{
  font-size:20px;
  color:rgba(87, 250, 209, 0.904);
  position: relative;
  transition: all 0.3s ease-out;  
  
  margin-right: 10px;

}
.cu-icon-zoom:hover{
  color:rgb(87, 250, 209);
  transition: all 0.3s ease-in;
  cursor: pointer; 
  transform: scale(1.3);
}

@keyframes blink{
  to{
    transform: scale(1.3);
  }
}

.cu-count{
  font-size: 20px;
  padding-left: 5px;
  margin-bottom: 5px;
  margin-left: 12px;
  transform: translateY(-5px);
}

@media (max-width: 1000px){
  .gallery{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 600px){
  .gallery{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    
  }
}
  

  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }

/*img preview =====*/

.model{
  width:100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.993);
  transition: opacity .9s ease, visibility .8s ease , transfrom .8s ease-in-out;
  visibility: hidden;
  opacity:0 ;
  transform: scale(0);
  overflow:hidden;
  z-index: 999;
}
.model.open{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  
  transition: .7s ease;
}
.model img{
  width:auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}
.model.open i{
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 1.7rem;
  padding: 5px;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  cursor: pointer;
}





/*
  .cards {
    padding: 4rem;
    
  }
  
  h1 {
    text-align: center;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    
    
    width: 100%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .card__items {
    display: flex;
    height: 100%;
    
  }
  
  .cards__item {
    display: flex;
    
    margin: 0 1rem;
    border-radius: 15px;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 8px 20px rgba(255, 129, 56, 0.425);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position:relative;
    width: 100%;
    height: 100%;
    padding-top: 100%;
    padding-bottom: 0%;
    border: 1px solid var(--primary);
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    max-width: 100%;
    
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
    transition: all 0.2s linear
  }
  
  .cards__item__info {
    padding: 1px 30px 30px;
  }
  
  

  */